<a href="https://colab.research.google.com/github/ruantos/python-para-data/blob/main/csv_io.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import requests
import chardet

## Lendo arquivos csv com Pandas

In [4]:
# Comma Separated Values
URL = "https://raw.githubusercontent.com/alura-cursos/Pandas/main/superstore_data.csv"
data = pd.read_csv(URL, sep=",")

In [5]:
data.head()

,Id,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Response,Complain
0,1826,1970,Graduation,Divorced,84835.0,0,0,6/16/2014,0,189,...,111,189,218,1,4,4,6,1,1,0
1,1,1961,Graduation,Single,57091.0,0,0,6/15/2014,0,464,...,7,0,37,1,7,3,7,5,1,0
2,10476,1958,Graduation,Married,67267.0,0,1,5/13/2014,0,134,...,15,2,30,1,3,2,5,2,0,0
3,1386,1967,Graduation,Together,32474.0,1,1,11/5/2014,0,10,...,0,0,0,1,1,0,2,7,0,0
4,5371,1989,Graduation,Single,21474.0,1,0,8/4/2014,0,6,...,11,0,34,2,3,1,2,7,1,0

In [8]:
data.to_csv("supermarket_data.csv", index=False)

## Usando a lib chardet para descobrir tipo de codificação do arquivo

In [9]:
with open("supermarket_data.csv", 'rb') as csv:
  print(chardet.detect(csv.read()))

{'encoding': 'ascii', 'confidence': 1.0, 'language': ''}

## Limitar n de linhas lidas do arquivo

In [10]:
limited_data = pd.read_csv(URL, nrows=5)

In [11]:
limited_data.shape

(5, 22)

## Escolher col a serem lidas do arquivo

In [12]:
limited_col = pd.read_csv(URL, usecols=["Id", "Education", "Income"])

In [14]:
limited_col.columns

Index(['Id', 'Education', 'Income'], dtype='object')

## Salvando csv files

In [15]:
limited_data.to_csv("limited_rows.csv", sep=",", index=False)