<a href="https://colab.research.google.com/github/ruantos/python-para-data/blob/main/sql_alchemy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine, MetaData, Table, inspect, text

In [3]:
engine = create_engine('sqlite:///:memory:')

In [4]:
URL = 'https://raw.githubusercontent.com/alura-cursos/Pandas/main/clientes_banco.csv'
data = pd.read_csv(URL)

## Salvando df no database

In [11]:
# salva o df no database
data.to_sql("clientes", engine, index=False)

TypeError: argument of type 'Engine' is not iterable

## Acessando os metadados do db

In [9]:
# retorna os metadados do database (?)
inspector = inspect(engine)

inspector.get_table_names()

['clientes']

## Realizandon queries com python

In [25]:
query = """
SELECT *
FROM clientes
WHERE Categoria_de_renda == 'Empregado'
"""

empregados = pd.read_sql(query, engine))

pandas.core.frame.DataFrame

In [20]:
empregados.to_sql("empregados", con=engine, index=False)

5

## Retornando tabelas em formato pd.DataFrame

In [29]:
# o read_sql é pra inserir queries
#e o read_sql_table para retornar tabelas ou subsets de uma tabela
pd.read_sql_table("empregados", engine, columns=["ID_Cliente", "Tem_carro"])

   ID_Cliente  Tem_carro
0     6772977          1
1     6206849          0
2     5863280          0
3     5559171          1
4     5010262          0

## Manipulando dados no db com Pandas

In [33]:
query = """
DELETE
FROM clientes
WHERE ID_Cliente = 5008804
"""

# estabelece uma conexão com o db
with engine.connect() as connection:
  # o text interpreta nossa query como sql para o db
  result = connection.execute(text(query))

  # para commitar no db nossa ação
  connection.commit()

In [34]:
up_query = """
UPDATE clientes
SET Grau_escolaridade = 'Ensino superior'
WHERE ID_Cliente = 5008808
"""

with engine.connect() as connection:
  result = connection.execute(text(up_query))
  connection.commit()